body{
    background-color: antiquewhite;
}
div.container{
    margin: 0 auto;
    width: 90%;
}
header{
    width: 100%;
    height: 100px;
    background-color: #f7dfdf;
}
nav{
    width: 20%;
    height: 800px;
    background-color: #dae9fa;
    float: left;
}
div.content{
    width: 80%;
    height: 800px;
    background: #fff;
    float: right;
}
footer{
    width: 100%;
    height: 50px;
    background: #fffbf2;
    float: left;
}